.git
.idea
.circleci
.github
configurations/
demo/
scripts/
src/
.browserslistrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.huskyrc
.lintstagedrc
.nvmrc
.prettierignore
.prettierrc.js
babel.config.js
commitlint.config.js
dot-notation.png
cypress.json
jest.config.js
release.config.js
rollup.config.js
tsconfig.*
webpack.config.js
yarn-error.log
